---
layout: default
robots: noindex
---

<!--<div class="main-post-list">-->
<ul class="timeline">

  <h2 style="margin-left: 20px;">📝 Preprints</h2>
  {% for project in site.data.projects.preprints %}
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          {% if project.author %}
            <div class="project-author">{{ project.author | markdownify }}</div>
          {% endif %}
          <h4>
            <a href="{{ project.url }}" target="_blank">
              {{ project.title }}
            </a>
          </h4>
        </div>
        <div class="timeline-body">
          {% if project.desc %}
            {{ project.desc | markdownify }}
          {% endif %}
          {% if project.gh_user and project.repo %}
            <div style="margin-top: 10px;">
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}">
                <i class="fa-brands fa-github"></i> GitHub
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}

  <h2 style="margin-left: 20px;">📄 Published</h2>
  {% for project in site.data.projects.published %}
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          {% if project.author %}
            <div class="project-author">{{ project.author | markdownify }}</div>
          {% endif %}
          <h4>
            <a href="{{ project.url }}" target="_blank">
              {{ project.title }}
            </a>
          </h4>
        </div>
        <div class="timeline-body">
          {% if project.desc %}
            {{ project.desc | markdownify }}
          {% endif %}
          {% if project.gh_user and project.repo %}
            <div style="margin-top: 10px;">
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}">
                <i class="fa-brands fa-github"></i> GitHub
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}

</ul>
